@import "src/app/scss/global";

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 20px 0;
  height: 60px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  transition: all .2s;

  .magic {
    position: absolute;
    width: 900px;
    height: 900px;
    background: rgba(255, 255, 255, 0.05);
    filter: blur(100px);
    border-radius: 50%;
    pointer-events: none;
    z-index: 100;
  }

  img[alt="logo"] {
    width: 70px;
    height: auto;
  }

  img[alt="account-logo"] {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 20px;
  }

  @media screen and (min-width: 768px) {
    img[alt="logo"] {
      position: absolute;
      left: 70px;
    }

    img[alt="account-logo"] {
      left: initial;
      right: 70px;
    }
  }
}