@import "src/app/scss/global";

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $clr-black;
  padding: 20px;
  height: 60px;

  img[alt="logo"] {
    width: 70px;
    height: auto;
  }

  img[alt="account-logo"] {
    width: 30px;
    height: 30px;
    position: fixed;
    left: 20px;
  }
}