// Colors

$clr-white: #FFFFFF;
$clr-white-hsl: rgba(255, 255, 255, 0.4);
$clr-black: #070603;
$clr-black-hsl: hsl(53, 35, 2, .5);
$clr-black-hsl-2: hsl(0, 0, 9, .5);
$clr-yellow: #FFDD00;
$clr-gray: #171717;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-family: Poppins, sans-serif;
}

body {
  background: $clr-black;
  font-family: Roboto, sans-serif;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background: transparent;
  font-family: inherit;
  color: inherit;
}

.wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    padding-left: 70px;
    padding-right: 70px;
  }
}

.page-width {
  max-width: 1536px;
  margin: 0 auto;
}