@import 'src/app/scss/global';

.primary-btn {
  background: $clr-yellow;
  color: $clr-black;
  font-weight: bold;
  width: fit-content;
  padding: 12px 30px;
  border-radius: 7px;
  border: solid 1px $clr-black;
  transition: all .1s;
  text-transform: uppercase;

  &:hover {
    background: $clr-black;
    color: $clr-yellow;
    border-color: $clr-yellow;
  }
}